# Documentation build requirements
sphinx>=7.4.7
sphinx-rtd-theme>=3.0.2
sphinx-autodoc-typehints>=2.3.0
myst-parser>=3.0.1
hdmf-docutils>=0.4.7
pynwb>=2.8.2
hdmf>=3.14.1
hedtools>=0.7.1
ndx-events>=0.4.0
